/*
.root-box {
    -fx-background-color: #f3f5f7;
    -fx-padding: 5 10;
}

.titled-pane .title {
    !*title_background_color: #f7f9fc;*!
    title_background_color: #e6ffeb;
    border_color: #cbf2d3;
    title_background_hover_color: #b8f2c2;
    !*-fx-background-color: #cbf2d3, #f7f9fc;*!
    -fx-background-radius: 2, 3;
}

.titled-pane > .content, .titled-pane > .content > * {
    -fx-background-color: #cbf2d3, #fafafa;
    -fx-background-insets: 0, 0 2 2 2;
    -fx-background-radius: 0 0 8 8, 0 0 5 5;
}

.root-box > .menu-button {
    !*menu_button_background_color: #8fcc98;*!
    menu_border_hover_color: #01633e;
    menu_button_background_color: #03915b;
    -fx-effect: dropshadow(gaussian, rgba(5, 115, 73, 0.26), 15, .16, 0, 4);
    menu_button_text_color: #ffffff;
    arrow_color: white;
}

.menu-button > SVGPath {
    -fx-fill: #fff;
    -fx-stroke: white;
}
*/
