.main-area {
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #dadbdc;
    -house-color: #7FE35E5E;
}

.main-area {
    -fx-background-color: #dadbdc;
}

.main-area .label {
    -fx-font-size: 2.3em;
    -fx-font-weight: bold;
}


FlowPane, .main-area .list-view .text-field {
    accent_color: #0078d7;
}

.main-area .list-view:focused {
    -fx-border-width: 1;
    -fx-border-color: accent_color;
}

.list-view .context-menu {
    -fx-font-size: .5em;
}

.button:default:focused {
    -fx-border-color: border_hover_default_color;

}

.main-area .button:focused, .flow-pane .button:focused {
    -fx-border-color: border_hover_color;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

.button-bar .button {
    -fx-background-color: inherit;
    -fx-text-fill: #999;
    -shrink-animate-on-press: false;
}

.button-bar .button:hover {
    -fx-text-fill: #555;
}

.button-bar .button.active {
    -fx-text-fill: #111;
}

.button-bar .button:focused {
    -fx-border-width: 1;
    -fx-border-color: #4d4d4d;
    -fx-border-style: solid;
}

.button-bar .button.active {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: accent_color;
}

.button-bar .button.active:focused {
    -fx-border-width: 0 0 2 0, 0, 0;
}