.tab-pane {
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #dadbdc;
    -house-color: rgba(227, 94, 94, 0.5);
}

.tab-pane .main-area {
    -fx-background-color: #dadbdc;
}

.tab-pane .main-area .button:focused {
    -fx-border-width: 2;
    -fx-border-color: #7a7a7a;
    -fx-border-style: solid;
}

.main-area .label {
    -fx-font-size: 2.3em;
    -fx-font-weight: bold;
}

FlowPane, .main-area .list-view .text-field {
    accent_color: #0078d7;
}

.main-area .list-view:focused {
    -fx-border-width: 1;
    -fx-border-color: accent_color;
}