.root-box {
    -fx-padding: 5 10;
}


.titled-pane > .content {
    -fx-border-width: 0, 0, 0 !important;
    -fx-padding: 0;
    -fx-background-insets: 0, 0 2 0 2;
}

.titled-pane > .content > * {
    -fx-background-insets: 0, 0 2 2 2;
    -fx-padding: 11.6 9.6 11.6 9.6;
}

.titled-pane > .title > .inner-title .text {
    -fx-font-size: 1.6em;
}

.titled-pane > .title > .text {
    -fx-font-size: 1.6em;
}


/* delete button */

.inner-title Button {
    -fx-padding: 6;
}

.shortcut {
    -fx-font-size: .95em;
}


.label, .titled-pane .button {
    -fx-font-size: 1.3em !important;
}




.combo-box:disabled {
    -fx-opacity: 0.9 !important;
}

.combo-box > .combo-box-popup > .list-view {
    -fx-border-width: 0 1 2 1 !important;
    -fx-font-size: 1.2em;
}
.combo-box > .combo-box-popup > .list-view {
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.2), 20, 0.1, 0, 5) !important;
}

/*prevent blurry text*/
/*.text-area > .scroll-pane {*/
/*    -fx-padding: 0;*/
/*}*/

/* shadow button test */
.menu-button, .button {
    -fx-border-radius: 4 !important;
    -fx-background-radius: 4 !important;
    /*-fx-effect: dropshadow(one-pass-box, rgba(0,0,0,.5), 3, .1, 0, 1);*/
    /*-fx-effect: dropshadow(two-pass-box, rgba(0,0,0,.45), 1.3, .2, 0, 1);*/
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,.45), 2.5, .1, 0, 1);
}

.menu-button:hover, .button:hover {
    -fx-border-color: #ccc, #6b6b6b;
    /*-fx-border-color: #333333, #858585;*/
    -fx-border-width: 2, 1;
}

.menu-button:hover:focused, .button:hover:focused {
    -fx-border-width: 1, 1;
    -fx-border-style: solid, solid;
}

.menu-button:pressed, .button:pressed {
    /*-fx-border-width: 2, 0;*/
    -fx-border-color: #999999, #999;
}
/* shadow button end */

/* round inputs */

.text-field, .text-area, .combo-box {
    -fx-font-size: 1.2em !important;
    -fx-background-radius: 3, 2;
}

.combo-box {
    -fx-font-size: 1.1em !important;
    -fx-background-radius: 0, 3, 2 !important;
}

.text-field .right-button {
    -fx-background-insets: -0.1em -0.4em -0.1em -0.4em;
}

/* snack bar */
.snackbar {
    -fx-background-color: #353535;
    -fx-background-radius: 5;
    -fx-padding: 6;
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,.45), 4, .1, 0, 1);
}

.snackbar > .label {
    -fx-text-fill: #e6e6e6;
    -fx-font-size: 1.4em !important;
}

.snackbar > .button {
    -fx-background-color: transparent;
    -fx-effect: none;
    -fx-text-fill: #56dc7a;
    -fx-font-size: 1.4em;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-border-color: #7a7a7a;
    -fx-border-width: 1;
}

/* Pop Over */

.heading {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 1.2em;
}
.pop-body {
    -fx-font-size: 1.3em;
}
.popover {
    -fx-padding: .5em .4em;
    -fx-effect: none;
}
.popover > .border {
    -fx-fill: #f9f9f9 !important;
    -fx-stroke: #bfbfbf !important;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,.2), 10.0, .1, 0.0, 2.0) !important;
}